* {
  margin: 0;
  padding: 0;
  background-color: rgb(56, 56, 56);
}

.navhead {
  padding: 5px;
  border: 2px solid black;
  border-style: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;

  letter-spacing: 1px;
  text-align: center;
}

.navhead .net {
  color: rgb(202, 4, 4);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cards {
  margin: 60px;
  padding: 1px;

  width: 210px;
  height: 380px;
  border: 1px solid rgb(90, 87, 87);
  border-radius: 12px;
  display: block;
  display: inline-flex;
}

.cards:hover {
  border: 2px solid white;
  box-shadow: #f3562e;
}

.card {
  border: 1px solid rgb(134, 130, 130);
  width: 220px;
  height: 250px;
  padding: 0;
  border-radius: 8px;
  border-style: none;
  border-radius: 12px;
}

.card__img {
  width: 210px;
  height: 250px;
  border-radius: 10px;
}

.card__img:hover {
  background-position: 15px;
}

.card__info {
  padding: 7px;
  margin-top: 7px;
  color: aliceblue;
}

.card__categore {
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.card__title {
  color: rgb(190, 182, 182);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.card__title:hover {
  color: rgb(255, 127, 127);
}

.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #f3562e, #f3562e);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100px;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background-image: linear-gradient(-180deg, red, red);
}
